<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ffshopmall">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_ALL_EXTERNAL_STORAGE" />

    <!-- 写入扩展存储，向扩展卡写入数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 读取设备外部存储空间 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 访问网络，加载网络地图需要上网 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 允许程序访问有关GSM网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

    <application
        android:name="com.ffshopmall.DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/StyledIndicators">
        <activity android:name=".view.FFMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".view.FFSearchActivity">

        </activity>

        <activity android:name=".view.FFShopActivity">

        </activity>

        <activity android:name=".view.FFShopsActivity">

        </activity>

        <activity android:name=".FMmap.map.FMMapMain">

        </activity>

        <activity android:name=".view.FFShopSaleActivity">

        </activity>

        <activity
            android:name="com.zaaach.citypicker.CityPickerActivity"
            android:theme="@style/CityPicker.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <!--高德地图开发者密钥-->
        <meta-data android:name="com.amap.api.v2.apikey"
            android:value="30b50ab7219d8ab7b4ea4d0f26a73cd3"/>

        <!--蜂鸟云开发者密钥-->
        <meta-data
            android:name="com.fengmap.mapapi.appkey"
            android:value="ce13bc44b3d912da300a1fd61e858aa0"/>
    </application>

</manifest>